<section id="chatroom">
  <div id="messages"></div>
  <div id="fields">
    <input id="message" type="text" placeholder="Enter your message here"/>
    <input id="send" type="button" value="Send"/>
  </div>
</section>